.wine-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wine-card {
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 400px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* видимая граница */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3); /* изменяем цвет на белый с прозрачностью */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* тень для матового эффекта */
}


.wine-img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.wine-inner {
    padding: 10px;
}
